/* HeadBlock */

.head-block {
	padding: 40px 0;
	min-height: calc(100vh - 76px);

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--head-bg);
	background-image: url('./../../img/head-bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;

	color: var(--head-text);
}

/* Ограничивает текст с рисунком, чтобы был посредине */
.head-block__wrapper {
	padding: 0 15px;
	max-width: 660px;
}

.head-block__title {
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
	text-align: center;
}

.head-block__title strong {
	font-size: 60px;
	font-weight: 700;
}

.head-block__title em {
	font-style: normal;
	color: var(--accent);
}

.head-block__text {
	margin-bottom: 40px;
	font-size: 20px;
	line-height: 1.4;
	text-align: center;
}

/* Если вдруг надо будет добавить абзацы - предусмотрим отступ */
.head-block__text p + p {
	margin-top:  0.5em;
}

/* Btn */
/* Кнопка для скачивания CV - пока отключена в JSX */

.head-block__btn {
	display: inline-block;
	height: 48px;
	padding: 12px 28px;

	border-radius: 5px;
	background-color: var(--accent);
	color: var(--white);
	letter-spacing: 0.15px;
	font-size: 16px;
	font-weight: 500;

	transition: opacity 0.2s ease-in;
}

.head-block__btn:hover {
	opacity: 0.8;
}

.head-block__btn:active {
	position: relative;
	top: 1px;
}