/* Header */
/* Высота header вместе с бордером всегда 76px
Header имеет position fixed - надо учесть при отступах в main-блоках margin-top: 76px;
Header полностью адаптирован
*/
.header {
	position: fixed;

	color: var(--nav-text);
	letter-spacing: normal;
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--nav-border);

	/* высота в 1 ряд вместе с бордером */
	height: 76px;
	width: 100%;
	padding: 20px 0;
}

.header__row {
	display: grid;
	/* 240px - ширина лого при fz 24px
	при больших ширинах покажем лого-меню-кнопку, при малых: бургер-лого-кнопку
	 */
	grid-template-columns: 240px 1fr auto;
	grid-template-rows: 35px;
	align-items: center;
	column-gap: 2em;
}

/* на ширине < 674px происходит переполнение меню - значит меню в строку уберем и покажем бургер
стандартный ближайший поинт <=767px (для инфы)
*/
@media (max-width: 674px) {

	/* включим бургер-лого-кнопка */
	.header__row {
		grid-template-columns: auto 1fr auto;
	}
}

/* Logo */
.header__logo {
	grid-column: 1 / 2;
	grid-row: 1;
}

.logo__link {
	margin-right: auto;
	color: var(--nav-text);
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}

/* на ширине <420px лого ломается */
@media (max-width: 420px) {
	.logo__link {
		font-size: 20px;
		line-height: 1;
	}
}

.logo__link strong {
	font-weight: 700;
}

@media (max-width: 674px) {

	/* включим схему бургер-лого-кнопка */
	.header__logo {
		grid-column: 2 / 3;
	}
}

/* Navbar */

.header__nav {
	grid-column: 2 / 3;
	grid-row: 1;
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1em;
	align-items: center;
	justify-content: flex-end;
	column-gap: 1.4em;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.nav__link {
	color: var(--nav-text);
	transition: opacity 0.2s ease-in;
}

.nav__link:hover {
	opacity: 0.8;
}

.nav__link_active {
	position: relative;
}

.nav__link_active::before {
	content: '';

	position: absolute;
	left: 0;
	top: 100%;

	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
}

@media (max-width: 674px) {

	/* прячем строчное меню */
	.header__nav {
		grid-column: unset;
		display: none;
	}
}

/* Dark-mode button */
.header__theme-btn {
	grid-column: 3 / 4;
	grid-row: 1;
}

@media (max-width: 674px) {
	.header__theme-btn {
		grid-column: 3 / 4;
	}
}

/* Burger menu */

.burger {
	display: none;
	position: relative;
	width: 30px;
	height: 18px;
	cursor: pointer;
}

.burger span,
.burger::before,
.burger::after {
	position: absolute;
	left: 0;
	height: 10%;
	width: 100%;
	transition: all 0.3s ease 0s;
	background-color: var(--white);
}

.burger::before,
.burger::after {
	content: "";
}

.burger::before {
	top: 0;
}

.burger::after {
	bottom: 0;
}

.burger span {
	top: 50%;
	transform: scale(1) translate(0px, -50%);
}

.burger_active span {
	transform: scale(0) translate(0px, -50%);
}

.burger_active::before {
	top: 50%;
	transform: rotate(-45deg) translate(0px, -50%);
}

.burger_active::after {
	bottom: 50%;
	transform: rotate(45deg) translate(0px, 50%);
}

@media (max-width: 674px) {

	/* показываем бургер */
	.burger {
		display: block;
	}

	.header__burger-btn {
		grid-column: 1 / 2;
	}
}